<!DOCTYPE html>
<html>
  <head>
    <title>CRUD</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <div class="container-list">
    <form action="" method="post">
      <h1>Cadastrar Nome</h1>
      <div class="add">
        <input type="text" name="nome" placeholder="Nome" id="name">
        <input type="text" name="sobrenome" placeholder="Sobrenone" id="last-name">
        <input type="email" name="email" placeholder="E-mail" id="email">  

        <button class="button">Adicionar</button>    
      </div>
    </form>
  </div>
    <div class="container-list">
      <h1>Lista de Nomes</h1>
    
   
      <form method="post" action="/?_method=PUT">
        <div id="select">
          
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>E-mail</th>
                <th class="acao">Editar</th>
                <th class="acao">Excluir</th>
              </tr>
            </thead>
            <%for(let user of users){%>
          <tbody>
            <tr>
              <td><%=user.nome%></td>
                <td><%=user.sobrenome%></td>
                <td><%=user.email%></td>
                <th><i class='bx bx-edit' ></i></th> 
                <th><i class='bx bx-trash' ></i></th>
            </tr>
              
          </tbody>
          <%}%>
        </table>
          
        </div>
      </form>
    </div>
    </body>
    <script src="javascripts/index.js"></script>
</html>
